<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @message.receiver_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Received:</strong>
  <%= @message.received %>
</p>

<p>
  <strong>Red:</strong>
  <%= @message.red %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
