<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :identifier %><br>
    <%= f.text_field :identifier, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :token %><br>
    <%= f.text_field :token, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :app_id %><br>
    <%= f.number_field :app_id, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_access %><br>
    <%= f.datetime_select :last_access, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :lat %><br>
    <%= f.text_field :lat, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :lon %><br>
    <%= f.text_field :lon, :class => "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :locale %><br>
    <%= f.text_field :locale, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Create', :class => "btn btn-primary" %>
  </div>
<% end %>
