<%= form_for(@app, multipart: true) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :sandbox %><br>
    <%= f.check_box :sandbox, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :certificate %><br>
    <%= f.file_field :certificate, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.text_field :password, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Create', :class => "btn btn-primary" %>
  </div>
<% end %>
